<div class="container text-right cs-ml-top-50">
    <h1 class="font-weight-normal color-yellow">ทำไมต้องเลือกใช้ FindParking?</h1>
    <p class="font-weight-normal txt-header-secound">เพราะ FindParking ให้คุณได้เป็นเจ้านายตัวเอง
        แค่เปิดแอพหาที่จอดรถ FindParking แล้วกดค้นหาพื้นที่จอด รถยนต์ของคุณจะพร้อมให้ผู้โดยสารเรียกให้เดินทางไปรับและส่งตามจุดหมาย นี่คือทางเลือกใหม่ที่ง่ายและยืดหยุ่น ให้คุณได้ทำเงิน เพิ่มรายรับได้จากเวลาว่างของคุณ</p>
</div>
<div id="demo" class="cs-ml-top-50" >
    <div class="thumb-post cs-ml-top-10">
      <div class="container">
        <img src="assets/imgs/ws_Green_Garden_2560x1440.jpg" alt="Los Angeles" width="100%" height="100%">
      </div>
    </div>
  </div>